.header {
    background-color: #353436;
    color: #fff;   
    width: 100%; 
    .container {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 24px;
        padding-bottom: 20px;
    }
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: flex-end;   
    
    a {  
        text-transform: uppercase;  
        text-decoration: none;
        color: #fff;   
        font-size: 18px; 
        margin-left: 15px;
        margin-right: 10px;   
        &:last-child { margin-right: 0; }
        &:hover,
        &:active,
        .active {
            color: #e2d1a6;
            text-shadow: 0 0 3px #e2d1a6;
        }
    }
}